<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<%= link_to 'Solicitar orçamento', new_contractor_estimate_path(@contractor) %>
<%= link_to 'Atualizar Perfil', edit_contractor_path(@contractor) %>

