<h1> Categorias </h1>
<p><%= link_to 'Nova Categoria', new_category_path %></p>
<ul>
  <%= @categories.each do |category| %>
    <li> <%= link_to category.name, category_contractors_path(category) %></li>
  <% end %>
</ul>